<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossedproductions.nucleus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:isolatedProcess="true" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FragmentAbout"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FragmentDisclaimer"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FragmentSettings"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FragmentHelp"
            android:theme="@style/AppTheme.NoActionBar"
            />


        <activity android:name=".SplashActivity$check"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>